<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pomodoro Timer Online - Técnica / Método Pomodoro - Pomodoro Minimalista</title>
  <meta name="author" content="@pontoagencia" />
  <meta name="title" content="Pomodoro Timer Online - Técnica / Método Pomodoro - Pomodoro Minimalista">
  <meta name="keywords" content="técnica pomodoro, método pomodoro, pomodoro timer, pomodoro online, pomodoro minimalista" />
  <meta name="description" content="O timer online Pomodoro Minimalista, com a ajuda você a manter o foco no trabalho e tarefas por meio da técnica / método Pomodoro.">

  <!-- <base href="https://pomodorominimalista.com.br"> -->
  <link rel="canonical" href="https://pomodorominimalista.com.br">
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Pomodoro Minimalista">
  <meta name="apple-mobile-web-app-title" content="Pomodoro Minimalista">
  <meta name="apple-mobile-web-app-status-bar-style" content="#202124">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://pomodorominimalista.com.br">
  <meta property="og:title" content="Pomodoro Minimalista">
  <meta property="og:description" content="O timer online Pomodoro Minimalista ajuda você a manter o foco no trabalho e tarefas por meio da técnica Pomodoro.">
  <meta property="og:image" content="assets/images/metatags-pomodoro-minimalista.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://pomodorominimalista.com.br">
  <meta property="twitter:title" content="Pomodoro Minimalista">
  <meta property="twitter:description" content="O timer online Pomodoro Minimalista ajuda você a manter o foco no trabalho e tarefas por meio da técnica Pomodoro.">
  <meta property="twitter:image" content="assets/images/metatags-pomodoro-minimalista.png">

  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="assets/images/favicon.ico" />
  <link rel="apple-touch-icon" href="assets/images/favicon.ico" sizes="72x72" />
  <link rel="apple-touch-icon" href="assets/images/favicon.ico" sizes="114x114" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- CSS styles -->
  <link rel="stylesheet" href="assets/styles/styles.css">
  <link rel="stylesheet" href="assets/styles/tailwindcss/tailwind.css">

  <!-- Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XGB8WN68E4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XGB8WN68E4');
  </script>
</head>
<body class="bg-dark text-light">
  <div id="app">
    <main class="min-h-screen flex flex-col justify-center items-center container mx-auto">
      <div class="wrapper">
        <div class="flex flex-col items-center justify-center">
          <div id="tabs-container" class="flex justify-center">
            <div class="flex justify-center items-center bg-primary rounded-full">
              <button
                v-for="tab in allowedTimers"
                @click="activeTimer=tab.slug"
                :class="activeTimer === tab.slug ? 'active' : ''"
                class="transition-colors duration-300 font-medium text-lg focus:outline-none p-3 px-6 rounded-full"
              >
                {{ tab.title }}
              </button>
            </div>
          </div>
          <div id="percentage-container" class="my-10 relative w-60 h-60">
            <svg class="w-60 h-60">
              <circle class="w-60 h-60" :stroke-dasharray="circle.strokeDashArray" :stroke-dashoffset="strokeDashOffset" fill="none" cx="120" cy="120" r="118"></circle>
            </svg>
            <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
              <span id="timer-display" class="font-medium text-5xl">
                {{ currentTime }}
              </span>
            </div>
          </div>
          <div class="flex items-center justify-center">
            <button @click="stop" :class="timer[activeTimer].isPlaying ? 'flex' : 'hidden'" class="mx-2 bg-primary flex justify-center items-center p-3 rounded-full focus:outline-none">
              <i data-feather="square"></i>
            </button>
            <button @click="play" :class="timer[activeTimer].isPlaying ? 'hidden' : 'flex'" class="mx-2 bg-primary flex justify-center items-center p-3 rounded-full focus:outline-none">
              <i data-feather="play"></i>
            </button>
            <button @click="pause" :class="timer[activeTimer].isPlaying ? 'flex' : 'hidden'" class="mx-2 bg-primary flex justify-center items-center p-3 rounded-full focus:outline-none">
              <i data-feather="pause"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <section class="py-12 md:-py-20">
      <div class="wrapper">
        <div class="flex items-center justify-between">
          <h1 class="title">Tarefas</h1>
          <button @click="createTask" class="mx-2 bg-primary flex justify-center items-center p-1 rounded-sm focus:outline-none text-xs uppercase">
            <i class="w-6 h-6" data-feather="plus"></i>
          </button>
        </div>
        <div class="mt-10 grid grid-cols-1 gap-5">
          <div v-for="(task, index) in tasks" :key="index" :class="task.isDone ? 'task--checked' : ''" class="task">
            <div class="task__checkbox" @click="task.isDone = !task.isDone">
              <i class="task__icon" data-feather="check"></i>
            </div>
            <input type="text" class="ml-4 task__input" :ref="`index-${index}`" v-model.trim="task.title" @keyup.enter="createTask" @keydown.delete="deleteTaskIfEmpty(index, $event)">
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="py-12 md:py-20">
    <div class="wrapper">
      <h1 class="title">Timer Pomodoro minimalista online para melhorar a sua produtividade e foco</h1>
      <p class="mt-6 paragraph">
        Desenvolvemos um timer Pomodoro Minimalista, pensando no seu foco e na produtividade. Com um design simples e cores agradáveis aos olhos, o Pomodoro Minimalista pode te ajudar a finalmente completar aquelas tarefas que estavam praticamente esquecidas.
      </p>
    </div>
  </section>
  
  <section class="py-12 md:py-20">
    <div class="wrapper">
      <h2 class="title">Mas o que é a Técnica Pomodoro?</h2>
      <p class="mt-6 paragraph">
        Segundo a Wikipedia, a Técnica Pomodoro é um método de gerenciamento de tempo desenvolvido por Francesco Cirillo. A técnica consiste na utilização de um cronômetro para dividir o trabalho em períodos de 25 minutos, separados por breves intervalos. O método é baseado na ideia de que pausas frequentes podem aumentar a agilidade mental.
      </p>
    </div>
  </section>
  
  <section class="py-12 md:py-20">
    <div class="wrapper">
      <h2 class="title">Como funciona o Timer Pomodoro Minimalista?</h2>
      <ul class="mt-6">
        <li class="mb-10 flex items-center">
          <i class="mr-4 w-6 h-6" data-feather="check-square"></i>
          <span> Organize as <span class="text-primary mx-1">tarefas</span> que você precisa terminar</span>
        </li>
        <li class="mb-10 flex items-center">
          <i class="mr-4 w-6 h-6" data-feather="clock"></i>
          <span> Inicie o timer com 25 minutos</span>
        </li>
        <li class="pl-10 mb-10 flex items-center">
          <i class="mr-4 w-6 h-6" data-feather="briefcase"></i>
          <span> Comece seu <span class="text-primary mx-1">trabalho</span></span>
        </li>
        <li class="pl-10 mb-10 flex items-center">
          <i class="mr-4 w-6 h-6" data-feather="book"></i>
          <span> Inicie seus <span class="text-primary mx-1">estudos</span></span>
        </li>
        <li class="mb-10 flex items-center">
          <i class="mr-4 w-6 h-6" data-feather="bell"></i>
          <span> Após o final do tempo, <span class="text-primary mx-1">descanse</span> por 5 minutos</span>
        </li>
        <li class="mb-10 flex items-center">
          <i class="mr-4 w-6 h-6" data-feather="clock"></i>
          <span> Inicie o timer novamente</span>
        </li>
      </ul>
    </div>
  </section>

  <section class="py-12 md:py-20">
    <div class="wrapper">
      <h2 class="title">Está gostando de usar o Pomodoro Minimalista? Se puder, ajude a gente a manter este projeto</h2>
      <p class="my-6 paragraph">
        Temos um perfil no <a class="text-primary" href="https://patreon.com/pomodorominimalista" target="_blank">Patreon</a>. Lá você pode fazer uma doação de uma valor de sua escolha.
        Não esqueça que os valores do Patreon são em dólares. Ajude apenas se puder.
      </p>
      <a href="https://patreon.com/pomodorominimalista" target="_blank">
        <button class="text-sm transition-colors hover:bg-opacity-80 bg-primary duration-300 font-medium focus:outline-none p-3 px-6 rounded-full">
          Quero ajudar
        </button>
      </a>
    </div>
  </section>

  <footer class="py-12">
    <div class="wrapper">
      <div class="flex items-center justify-center">
        <div>
          <div class="grid place-items-center mb-10">
            <img class="w-40 md:w-48" src="assets/images/logo-pomodoro-minimalista-branco.png" alt="Pomodoro Minimalista" title="Pomodoro Minimalista">
          </div>
          <a href="https://www.pontoagencia.com.br" target="_blank">
            <div class="flex items-center justify-center">
              <h3 class="paragraph">Desenvolvido por</h3>
              <img class="w-12 ml-2" src="assets/images/logo-agencia-ponto-branco.png" alt="Agência Ponto" tile="Agência Ponto">
            </div>
          </a>
        </div>
      </div>
    </div>
  </footer>

  <div id="loader" class="w-screen h-screen fixed top-0 left-0 bg-dark z-50 flex justify-center items-center transition-all duration-500">
    <figure>
      <img class="rotating w-24" src="assets/images/favicon-pomodoro-minimalista-branco.png" alt="Pomodoro Minimalista" title="Pomodoro Minimalista">
    </figure>
  </div>  

  <script src="assets/scripts/feather-icons/feather.min.js"></script>
  <script src="assets/scripts/feather-icons/init.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="assets/scripts/App.js"></script>

  <script>
    function hideLoader () {
      const loader = document.querySelector('#loader')
      loader.style.display = 'none'
    }

    window.addEventListener('load', () => {
      hideLoader()
    })
  </script>
</body>
</html>