<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pomodoro Timer Online - Timer Pomodoro Minimalista</title>
  
  <meta name="description" content="O Timer Pomodoro Minimalista ajuda você a manter o foco no trabalho por meio da técnica Pomodoro.">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- CSS styles -->
  <link rel="stylesheet" href="assets/styles/styles.css">
  <link rel="stylesheet" href="assets/styles/tailwindcss/tailwind.css">

</head>
<body class="bg-dark text-light">
  <div id="app">
    <main class="min-h-screen flex flex-col justify-center items-center container mx-auto">
      <div class="wrapper">
        <div class="flex flex-col items-center justify-center">
          <div id="tabs-container" class="flex justify-center">
            <div class="flex justify-center items-center bg-primary rounded-full">
              <button
                v-for="tab in allowedTimers"
                @click="activeTimer=tab.slug"
                :class="activeTimer === tab.slug ? 'active' : ''"
                class="transition-colors duration-300 font-medium text-lg focus:outline-none p-3 px-6 rounded-full"
              >
                {{ tab.title }}
              </button>
            </div>
          </div>
          <div id="percentage-container" class="my-10 relative w-60 h-60">
            <svg class="w-60 h-60">
              <circle class="w-60 h-60" :stroke-dasharray="circle.strokeDashArray" :stroke-dashoffset="strokeDashOffset" fill="none" cx="120" cy="120" r="118"></circle>
            </svg>
            <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
              <span id="timer-display" class="font-medium text-5xl">
                {{ currentTime }}
              </span>
            </div>
          </div>
          <div class="flex items-center justify-center">
            <button @click="stop" :class="timer[activeTimer].isPlaying ? 'flex' : 'hidden'" class="mx-2 bg-primary flex justify-center items-center p-3 rounded-full focus:outline-none">
              <i data-feather="square"></i>
            </button>
            <button @click="play" :class="timer[activeTimer].isPlaying ? 'hidden' : 'flex'" class="mx-2 bg-primary flex justify-center items-center p-3 rounded-full focus:outline-none">
              <i data-feather="play"></i>
            </button>
            <button @click="pause" :class="timer[activeTimer].isPlaying ? 'flex' : 'hidden'" class="mx-2 bg-primary flex justify-center items-center p-3 rounded-full focus:outline-none">
              <i data-feather="pause"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <section class="py-12 md:-py-20">
      <div class="wrapper">
        <div class="flex items-center justify-between">
          <h1 class="title">Tarefas</h1>
          <button @click="createTask" class="mx-2 bg-primary flex justify-center items-center p-1 rounded-sm focus:outline-none text-xs uppercase">
            <i class="w-6 h-6 mr-2" data-feather="plus"></i>
            Adicionar tarefa
          </button>
        </div>
        <div class="mt-10 grid grid-cols-1 gap-5">
          <div v-for="(task, index) in tasks" :key="index" :class="task.isDone ? 'task--checked' : ''" class="task">
            <div class="task__checkbox" @click="task.isDone = !task.isDone">
              <i class="task__icon" data-feather="check"></i>
            </div>
            <input type="text" class="ml-4 task__input" :ref="`index-${index}`" v-model="task.title" @keyup.enter="createTask" @keyup.delete="deleteTaskIfEmpty(index)">
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="py-12 md:py-20">
    <div class="wrapper">
      <h1 class="title">Timer Pomodoro minimalista online para melhorar a sua produtividade e foco</h1>
      <p class="mt-6 paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quibusdam ut ducimus sit perferendis, modi qui, assumenda exercitationem voluptate consectetur eaque dolore. Mollitia adipisci repellendus blanditiis recusandae atque magnam reiciendis?</p>
    </div>
  </section>
  
  <section class="py-12 md:py-20">
    <div class="wrapper">
      <h2 class="title">Mas o que é a Técnica Pomodoro?</h2>
      <p class="mt-6 paragraph">
        A Técnica Pomodoro é um método de gerenciamento de tempo desenvolvido por Francesco Cirillo. A técnica consiste na utilização de um cronômetro para dividir o trabalho em períodos de 25 minutos, separados por breves intervalos. O método é baseado na ideia de que pausas frequentes podem aumentar a agilidade mental.
      </p>
    </div>
  </section>
  
  <section class="py-12 md:py-20">
    <div class="wrapper">
      <h2 class="title">Como funciona o Timer Pomodoro Minimalista?</h2>
      <div class="mt-6">
        <div class="mb-10 flex items-center">
          <i class="mr-4" data-feather="clock"></i>
          Inicie o Timer com 25 minutos
        </div>
        <div class="pl-10 mb-10 flex items-center">
          <i class="mr-4" data-feather="briefcase"></i>
          Comece seu <span class="text-primary ml-1">trabalho</span>
        </div>
        <div class="pl-10 mb-10 flex items-center">
          <i class="mr-4" data-feather="book"></i>
          Inicie seus <span class="text-primary ml-1">estudos</span>
        </div>
        <div class="mb-10 flex items-center">
          <i class="mr-4" data-feather="bell"></i>
          Após o final do tempo, descanse por 5 minutos
        </div>
        <div class="mb-10 flex items-center">
          <i class="mr-4" data-feather="clock"></i>
          Inicie o Timer novamente
        </div>
      </div>
    </div>
  </section>

  <footer class="py-12">
    <div class="wrapper">
      <div class="flex items-center justify-center">
        <a href="https://www.pontoagencia.com.br" target="_blank">
          <div class="flex items-center justify-center">
            <h3 class="paragraph">Desenvolvido por</h3>
            <img class="w-12 ml-2" src="assets/images/logo-agencia-ponto-branco.png" alt="Agência Ponto" tile="Agência Ponto">
          </div>
        </a>
      </div>
    </div>
  </footer>

  <script src="assets/scripts/feather-icons/feather.min.js"></script>
  <script src="assets/scripts/feather-icons/init.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    const vue = new Vue({
      el: '#app',
      data: {
        tasks: [
          {
            title: 'Fazer o timer do Pomodoro Design',
            isDone: true
          },
          {
            title: 'Fazer o logo do Pomodoro Design',
            isDone: false
          }
        ],
        allowedTimers: [],
        activeTimer: 'work',
        timer: {
          work: {
            isPlaying: false,
            minutes: 25,
            seconds: 0,
            interval: (callback) => setInterval(callback, 1000)
          },
          break: {
            isPlaying: false,
            minutes: 5,
            seconds: 0,
            interval: (callback) => setInterval(callback, 1000)
          }
        },
        circle: {
          strokeDashArray: 760
        }
      },
      created () {
        this.runIntervals()
      },
      methods: {
        createTask () {
          this.tasks.push({ title: '', isDone: false })
          this.setFocusOnLastTask()
        },
        deleteTaskIfEmpty (index) {
          const task = this.tasks[index]

          if (!task) return

          if (!task.title) {
            this.deleteTask(index)
            this.setFocusOnLastTask()
          }
        },
        deleteTask (index) {
          this.tasks.splice(index, 1)
        },
        setFocusOnLastTask () {
          const ref = this.tasks.length - 1

          this.$nextTick(() => {
            const [input] = this.$refs[`index-${ref}`]
            input.focus()
          })
        },
        runIntervals () {
          for (const allowedTimer of this.allowedTimers) {
            const timer = this.timer[allowedTimer.slug]
            
            timer.interval(() => {
              if (!timer.isPlaying) return false

              timer.seconds -= 1

              if (timer.seconds < 0) {
                timer.seconds = 59
                timer.minutes -= 1
              }
            })
          }
        },
        play () {
          this.timer[this.activeTimer].isPlaying = true
        },
        pause () {
          this.timer[this.activeTimer].isPlaying = false
        },
        stop () {
          clearInterval(this.timer[this.activeTimer].interval)

          const timer = this.allowedTimers.find(t => t.slug === this.activeTimer)

          this.timer[this.activeTimer].isPlaying = false,
          this.timer[this.activeTimer].minutes = timer.minutes
          this.timer[this.activeTimer].seconds = timer.seconds
        },
        timeToSeconds (time) {
          return (Number(time.minutes) * 60) + Number(time.seconds)
        }
      },
      computed: {
        currentTime () {
          const timerSeconds = this.timer[this.activeTimer].seconds
          const timerMinutes = this.timer[this.activeTimer].minutes

          const seconds = timerSeconds >= 10 ? timerSeconds : `0${timerSeconds}`
          const minutes = timerMinutes >= 10 ? timerMinutes : `0${timerMinutes}`

          return `${minutes}:${seconds}`
        },
        strokeDashOffset () {
          const currentTime = {
            minutes: this.timer[this.activeTimer].minutes,
            seconds: this.timer[this.activeTimer].seconds
          }

          const currentTimer = this.allowedTimers.find(t => t.slug === this.activeTimer)

          const defaultTime = {
            minutes: currentTimer.minutes,
            seconds: currentTimer.seconds
          }

          const percentage = Number(this.circle.strokeDashArray) * this.timeToSeconds(currentTime) / this.timeToSeconds(defaultTime)

          return percentage
        },
      }
    })
  </script>
</body>
</html>